/* === 全局字体 === */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

/* === 透明背景，制造悬浮感 === */
window#waybar {
    background-color: transparent; 
    color: #cdd6f4; /* 字体白 */
    transition-property: background-color;
    transition-duration: .5s;
}

/* === 胶囊形状的基础样式 === */
#workspaces,
#clock,
#window,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray {
    background-color: #1e1e2e; /* 深蓝黑背景 */
    padding: 0 15px;
    margin: 0 5px;
    border-radius: 15px; /* 圆角 */
    border: 2px solid #11111b; /* 边框 */
    color: #cdd6f4;
}

/* === 工作区特殊样式 === */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #cdd6f4;
    border-radius: 15px;
}

#workspaces button:hover {
    background-color: #313244;
}

#workspaces button.active {
    background-color: #89b4fa; /* 激活时变蓝 */
    color: #1e1e2e; /* 激活时字变黑 */
}

/* === 各个模块的个性化颜色 (可选) === */
#clock {
    color: #fab387; /* 橙色 */
}

#pulseaudio {
    color: #f9e2af; /* 黄色 */
}

#network {
    color: #a6e3a1; /* 绿色 */
}

#battery {
    color: #94e2d5; /* 青色 */
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning {
    color: #fab387;
}

#battery.critical {
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #1e1e2e;
    }
}