* {
font-family: "Noto Sans";
font-size: 15px;
border: none;
}

window#waybar {
    background-color: transparent;
}

window#waybar #window label {
    font-size: 18px;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-power {
padding: 0 6px;
margin: 2px 1px;
border-radius: 20px;
background-color: #d3e3fd;
color: black;
transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces {
background-color: #2e3033;
margin: 6px 4px;
border-radius: 24px;
padding: 0 4px;
}

#workspaces button {
padding: 0 12px;
color: #9aa0a6;
transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.active {
color: #041e49;
background-color: #d3e3fd;
min-width: 45px;
border-radius: 24px;
}

#pulseaudio {
background-color: #ffd946;
color: #322f00;
}

#network {
background-color: #c4eed0;
color: #072711;
}

#network.disconnected {
background-color: #f28b82;
color: #3c0000;
}

#clock {
background-color: transparent;
color: #fff;
}

#custom-power {
margin-right: 12px;
background-color: #f9d8d6;
color: #b3261e;
}

#tray {
background-color: #d3e3fd;
}
